.custom-categories-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 25px;

  .custom-category {
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: space-between;

    .custom-subcategories ul {
      list-style: none;
      margin: 0;
      display: grid;
      grid-row-gap: 1px;

      li {
        display: grid;
        grid-template-columns: 1fr;
        padding: 8px 0;
        align-items: center;
        border-bottom: 1px solid var(--primary-low);
        &:last-child {
          border-bottom: none;
        }

        /* &:hover { */
        /*   border: 1px solid rgb(var(--primary-rgb), 0.5); */
        /*   box-shadow: 1px 1px 0 rgb(var(--primary-rgb), 0.25); */
        /* } */

        a {
          color: var(--primary);
        }

        .d-icon {
          color: var(--primary);
          margin-right: 10px;
          font-size: var(--font-down-1);
        }
        
        .title {
          color: var(--primary);
          font-size: var(--font-up-1);
        }
        .subtitle {
          color: var(--primary-high);
          font-size: var(--font-down-1);
        }
        .num {
          display: flex;
          align-items: center;
          color: var(--primary-medium);
          font-size: var(--font-0);
        }
      }
    }

    .custom-category-more-link {
      color: $primary-medium;
      font-size: $font-down-2;
      margin-top: 15px;
      padding: 1px 7px 0 7px;
      background-color: rgb(var(--secondary-rgb), 0.75);
      border-radius: 2px;
      border: 1px solid transparent;
      display: inline-block;

      // start at the first line of grid, and width is set to content inside
      justify-self: start;

      &:hover {
        box-shadow: 1px 1px 1px rgb(var(--primary-rgb), 0.25);
      }
    }

    #custom-category-title {
      color: var(--primary);
      text-align: left;
      font-size: var(--font-up-1);
      margin: 0;
      font-weight: bold;

      .d-icon {
        font-size: 0.75em;
        vertical-align: baseline;
      }
    }

    &.--muted {
      opacity: 0.5;
    }
  }
}

/* Custom Category Banner */
.custom-category-banner-wrapper {
  padding: 50px 0;
}

.custom-category-banner {
  min-width: 50%;
  max-width: 500px;
  margin: 0 auto 0 auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: var(--font-up-5);
    padding: 20px;
    text-align: center;
    line-height: 1.2;
    margin: 0;
  }
}

.category-page-custom-banner {
  #main-outlet {
    padding-top: 50px;
  }
}

.vbulletin-directory-header {
  padding: 8px 16px ;
  background: none 0 0, #F5F4F4;
  display: grid;
}

.vbulletin-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 1px solid var(--primary-low);
  p {
    font-weight: bold;
    font-size: var(--font-down-1);
    color: var(--primary-medium);
    margin: 16px 0;
  }
}

.custom-category-section {
  display: flex;
  flex-direction: column;
  border: 1px solid #F5F4F4;
  border-radius: 8px;
}

.subcategory-data-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

.vbulletin-table {
  padding: 0 16px;
}
